.navitems {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-left: 350px;
    padding-top: 20px;
}

.navitems a {
    text-decoration: none;
    color: black;
}

.navitems a:hover {
    color: chocolate;
}

.wrapper {
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
}

.h1 {
    color: chocolate;
    padding-left: 30px;
    padding-top: 10px;
}

.search {
    padding-top: 20px;
    padding-left: 20px;
}

.h2
{
    padding-left: 400px;
    padding-top: 120px;
    color: black;
    font-weight: bolder;
    font-family: monospace;
}

.wrapper-1
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.para
{   
    width: 300px;
    height: auto;
    font-size: small;
    margin-left: 130px;
    margin-top: 110px;
    padding-bottom: 30px;
}

.para-1
{
    padding-top: 20px;
}

.h2-1
{
    color: goldenrod;
    padding-left: 30px;
    padding-top: 50px;
}

.hunza
{
    margin-top: 40px;
    background-color: whitesmoke;
}

.img
{
    width: 50%;
    padding-left: 150px;
    padding-top: 130px;
}

.wrapper-2
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 100px;
}

.wrapper-3
{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    padding-top: 100px;
}

.hnz-vid
{
    padding-top: 20px;
}

.h2-2
{
    color: goldenrod;
    padding-left: 30px;
    padding-top: 80px;
}

.wrapper-4
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.para-2
{
    width: 300px;
    height: auto;
    font-size: small;
    margin-left: 130px;
    margin-top: 110px;
    padding-bottom: 50px;
}

.para-3
{
    padding-top: 20px;
}

.img-1
{
    width: 50%;
    padding-left: 180PX;
    padding-top: 100px;
}

.hin
{
    margin-top: 100px;
    background-color: aliceblue;
}

.wrapper-5
{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.img-3
{
    padding-left: 100px;
}

.vid-1
{
    padding-top: 50px;
    padding-left: 70px;
}

.rohtas
{
    margin-top: 100px;
    background-color: whitesmoke;
}

.img-4
{
    width: 50%;
    padding-left: 180PX;
    padding-top: 150px;
}

.h-video{
    padding-top: 100px;
    padding-left: 400px;
}

.fairy-meadows
{
    margin-top: 100px;
    background-color: whitesmoke;
}
.Neelum
{
    margin-top: 100px;
    background-color: whitesmoke;
}
.Kalash
{
    margin-top: 100px;
    background-color: aliceblue;
}

.footer {
    background-color: rgb(27, 37, 34);
    padding-right: 90px;
    padding-left: 160px;
    padding-top: 30px;
    padding-bottom: 70px;
    border-top: 4px solid chocolate;
    margin-top: 140px;
  }

  .fa-instagram
  {
    font-size: 40px;
    color: #fff;
  }
  .fa-linkedin
  {
    font-size: 40px;
    color: blue;
  }

  .wrapper-6
  {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
  }

  .footpara
  {
    color: #fff;
    font-size: small;
  }

  .res
  {
    padding-top: 30px;
    font-size: small;
    padding-left: 440px;
    color: rgb(159, 154, 154);
  }

  .wrapper-7
  {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .foot-button
  {
    background-color: orangered;
    border: transparent;
    color: #fff;
    padding: 5px;
    border-radius: 5%;
    width: 70px;
  }

  .foot-button-1
  {
    background-color: orangered;
    border: transparent;
    color: #fff;
    padding: 6px;
    margin-right: 10px;
    border-radius: 5%;
    width: 70px;
  }
  .button
  {
    padding-left: 600px;
    border: transparent;
  }

  .foothead
  {
    padding-bottom: 50px;
    color: chocolate;
  }